#attackerContainer {
	background: red;
}

#pendingContainer {
	background: grey;
}

#defenderContainer {
	background: yellow;	
}

#attackContainer {
	display: none;
}

.card {
	width: 20%;
}

img {
	max-height: 8rem;
}

.defeated {
	filter: grayscale(100%);
	font-style: oblique;
	background-color: lightgray;
}